<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Books Management Web Application">
    <meta name="author" content="O. Kalu">
    <link rel="icon" href="favicon.ico">
    <title>My eRegistrar List of Students</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" style="margin-top: 2em;">
    <div>
        <span style="font-size: 1.5em">List of Students</span>
        <span style="float:right;">
                    <a class="btn btn-outline-primary btn-lg" href="/eregistrar/student/add">Add a New student</a>
                </span>
    </div>
    <!-- Search panel -->
    <form id="searchBookForm" method="get" action="/eregistrar/student/search">
        <div style="margin-top:1em;" class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchString" name="searchString" placeholder="Enter a string to search for student" th:value="${searchString}" autofocus />
                    <div class="input-group-append">
                        <button id="btnSubmit" type="submit" class="btn btn-outline-success">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p>&nbsp;</p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">MiddleName</th>
            <th scope="col">LastName</th>
            <th scope="col">enrollmentDate</th>
            <th scope="col">is_international</th>
            <th scope="col">cgpa</th>


        </tr>
        </thead>
        <tbody>

        <tr th:each="students, iterStat : ${students}" th:onclick="@{document.location='#'}">
            <th scope="row" th:text="${iterStat.count}+'.'">#</th>
            <td th:text="${students.getFirstName()}"></td>
            <td th:text="${students.getMiddleName()}"></td>
            <td th:text="${students.getLastName()}"></td>
            <td th:text="${students.getEnrollmentDate()}"></td>
            <td th:text="${students.getInternational()}"></td>
          <td th:text="${students.getCgpa()}"></td>



            <td><a th:href="@{'/eregistrar/student/edit/{studentId}'(studentId=${students.studentid})}">Edit</a></td>
            <td>
                <a  th:href="@{'/eregistrar/student/delete/' + ${students.studentid}}">Delete</a>
<!--                <a data-toggle="modal" data-target="#confirmDeleteStudentModal" th:href="@{'/eregistrar/student/delete/' + ${students.studentid}}"-->
            </td>

            <td>
        </tr>
        <tr th:if="${studentsCount < 1}">
            <td colspan="8" th:align="center">No student found</td>
        </tr>
        </tbody>
    </table>
    <!-- Pagination -->
    <div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">Pages: </a>
            </li>
<!--            <li th:each="i : ${#numbers.sequence(1, students.totalPages)}"-->
<!--                th:class="${currentPageNo}==${i-1}?'page-item active':'page-item'">-->
<!--                <a th:href="@{/eregistrar/student/list(pageno=${i-1})}"-->
<!--                   th:text="${i}" class = "page-link"></a>-->
<!--            </li>-->
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this book data?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" >Yes</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>